.nav-link {
  color: white; }
  .nav-link:hover {
    color: lightgrey; }

body {
  background-color: #f2f2f2 !important;
  height: 100%; }

  .carousel {
  padding-top: 5px;
  margin-top: 5px;
  height: auto;
  width: auto;
}
.main-card-img-top{
  height: auto;
  width: auto;
}
.main-card-img-top:hover{
    filter: grayscale(30%) blur(2px);
  }

.card-text-title {
  padding: 5px;
  font-size: 20px;
  font-style: oblique;
  text-align: center; }

.card-text-body {
  padding: 8px;
  font-size: 15px;
  font-style: oblique; }

  form {
    border: 3px solid #f1f1f1;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #afcfee;
    color: black;
    padding: 10px 10px;
    margin: 5px 0;
    border: solid;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }


  span.psw {
    float: right;
    padding-top: 16px;
  }

  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }

  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }

  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }


  .container {
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: 5px;
    align-items: center;
  }

  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

  .btn {
    background-color: red;
    color: black;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }

  .btn:hover {
    background-color: red;
  }

  span.price {
    float: right;
    color: grey;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
    .containerreview{
      text-align: center;
    }
  }

  .text-gray {
    color: #aaa
}

img {
    height: 170px;
    width: 140px
}

.DetailedTable{
  height: 600px;
  width: 560px
}
.img-fluid {
  height: auto;
  width: auto;
}


.AddCart {
 padding: 2px;
 color: white;
 text-align: center;
 cursor: pointer;
 width: 25%;
 font-size: 15px;
}

.containerreview {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}
.containerreview span {
  font-size: 20px;
  margin-right: 15px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.ordercomplete {
  background-color: #f9f9f9;
  border: 1px solid black;
  border-radius: 1px;
  padding: 2px;
  align-items: center;
}

.Return {
  color: #afcfee;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
